.App {
  text-align: center;
}

.mot-a-trouver {
  letter-spacing: 3px;
  margin: 30px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-top: 30px;
}


.alphabet {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 400px;
  margin: auto;
}
.letter {
  
  width: calc(10px + 2vmin);
  height: calc(10px + 2vmin);
 
  padding: 3px;
  background-color: gainsboro;
  border: 2px solid gainsboro;
  border-radius: 3px;
  margin: 5px;
  color: #282c34;
}

.letter:hover {
  background-color: #282c34;
  color: #fff;
  cursor: grab;
}

.erreur {
  color: red;
}

.boutton {
  padding: 10px 20px;
  border: none;
  text-transform: uppercase;
  border-radius: 100px;
  

}